header {
    width: 100%;
    background-color: #50bbdb;
}

.top {}

.top a {
    display: block;
    float: left;
    line-height: 0.88rem;
    font-size: 0.24rem;
    color: #fff;
}

.top .sign {
    font-size: 0.54rem;

}

.top .order {
    margin-left: 2.3rem;
}

.bottom {
    background-color: #fff;
    font-size: 0.24rem;


}

.bottom>ul {
    float: left;
    width: 100%;
}

.bottom>ul>li {
    float: left;
    width: 3.15rem;
    text-align: center;
    line-height: 0.74rem;
    position: relative;
}

.bottom>ul li:first-child {
    border-right: 0.005rem solid #d2d2d2;

}

.bottom>ul li:last-child {
    border-left: 0.005rem solid #d2d2d2;
    position: relative;
}

.bottom>ul>li>a {

    padding-right: 0.28rem;
    box-sizing: border-box;


    color: #333333;
    background-image: url(../images/xiaosanjiao_19.jpg);
    background-repeat: no-repeat;
    background-position: right center;
}

.bottom ul li:first-child>ul {
    position: absolute;
    top: 0.74rem;
    width: 6.4rem;
    z-index: 1;
    background-color: #fff;
}

.bottom ul li:last-child>ul {
    position: absolute;
    top: 0.74rem;
    left: -3.2rem;
    width: 6.4rem;
    z-index: 2;
    background-color: #fff;

}


.bottom ul li:first-child:hover ul li,.bottom ul li:last-child:hover ul li {
    height: 0.74rem;
    opacity: 1;

}




.bottom ul li:first-child ul li {
    text-align: left;
    height: 0;
    opacity: 0;
    transition: all 1s;

}

.bottom ul li:last-child ul li {
    text-align: left;
    height: 0;
    opacity: 0;
    transition: all 1s;
    box-sizing: border-box;
padding-left: 0.22rem;

border-top: 1px solid #dadada;

}

.bottom ul li:last-child ul li a {
    color: #666666;






}

.bottom ul li:first-child ul li a {
    color: #666666;
    display: block;
    text-indent: 0.22rem;

    border-top: 1px solid #dadada;

}

section {
    background-color: #f1f1f1;
    width: 100%;
    padding-bottom: 0.14rem;
    padding-top: 0.001rem;
}

section a {

    display: block;
    width: 100%;
    color: #b8b8b8;
}

.indent {
    margin-top: 0.14rem;
    padding-top: 0.06rem;
    background-color: #fff;
}

.indent-top {
    width: 6.02rem;
    margin: 0 auto;
}

.indent-top p {
    font-size: 0.12rem;
    float: left;
}

.indent-top p:first-child {
    line-height: 0.22rem;
    border-right: 1px solid #e7e7e7;
    box-sizing: border-box;
    padding-right: 0.17rem;
}

.indent-top p:nth-child(2) {
    border-left: 1px solid #b8b8b8;
    line-height: 0.22rem;
    box-sizing: border-box;
    padding-left: 0.16rem;

}

.indent-top p:nth-child(3) {
    line-height: 0.22rem;
    float: right;
}

.indent-top p:nth-child(4) {
    margin-top: 0.06rem;
    width: 6.02rem;
    padding-top: 0.01rem;
    background-image: url(../images/p_32.jpg);
}

.indent-top p:last-child {
    line-height: 0.34rem;
    margin-bottom: 0.08rem;
}

.indent-top p:last-child span {
    color: #ea561d;
    font-size: 0.16rem;
    margin-left: 0.8rem;
}

.indent-top h3 {
    font-size: 0.26rem;
    float: left;
    width: 100%;
    line-height: 0.53rem;
}

.indent-top h3 span {
    color: #333333;
}

.indent-bottom {
    width: 100%;
    border-top: 1px solid #b5b5b5;
    float: left;
    padding-top: 0.1rem;
}

.indent-bottom p:first-child {
    float: left;
    font-size: 0.22rem;
    margin-left: 0.2rem;
    color: #ea561d;
}

.indent-bottom p:last-child {
    width: 0.86rem;
    line-height: 0.34rem;
    float: right;
    font-size: 0.22rem;
    box-sizing: border-box;
    border: 1px solid #bfbfbf;
    background-image: url(../images/xiaosanjiao_19.jpg);
    background-repeat: no-repeat;
    background-position: 0.58rem center;
    padding-left: 0.1rem;
    margin-right: 0.27rem;
    margin-bottom: 0.09rem;

}

.indent-bottom p:last-child span {
    color: #333333;
}